*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* ///////////////// NAV BAR ITEMS ↴ */
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(88, 86, 86);
    margin-top: 1%;
}
#left-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}
#center-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    /* margin-left: 1%; */
}
#right-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}
#post-container{
    height: auto;
    /* border: 5px solid greenyellow; */
    /* border: 5px solid rgb(27, 62, 95); */
    background: black;
}
.add-photo{
    background-color: white;
}
.add-photo:hover{
    background-color: rgb(27, 62, 95);
}
.icon-holder{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: 30px;
}
.icon-holder2{
    width: 30px;
    height: 30px;
    background-size: 30px;
}
.icon-holder3{
    width: 30px;
    height: 30px;
    background-blend-mode: initial;
    border-top-left-radius:12px;
    background-size: 30px;
    background-color: rgba(240, 230, 140, 0);
    border: none;
}
.icon-holder3:hover{
    cursor: pointer;
    background-color: rgba(112, 209, 233, 0);
}
.icon-holder4:hover{
    cursor: pointer;
   color: rgba(117, 130, 133, 0.966);
}


.icon-holder4{
    font-size: 30px;
    color: rgb(151, 113, 36);
    text-decoration: none;
    
}
/* ///////////////// EACH POST TEMPLATE ↴ */
#user-information{
    background: rgb(27, 62, 95);
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
}
#user-information > a {
    text-decoration: none;
    transition: 3s;
    margin-left:1%;
}
#user-information > a :hover{
    text-decoration: underline rgb(0, 0, 0);
    color: rgb(151, 140, 80);
    text-shadow: 2px 2px 2px rgba(134, 15, 15, 0.822);
}
#profile-pic{
    transition: 3s;
    display: inline-block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-size: 70PX;
    margin: 1%;
    box-shadow:
    0 0 15px 10px hsl(0, 11%, 2%),
    0 0 15px 15px hsl(201, 19%, 29%);
}
#post-holder{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    background: rgb(88, 86, 86);
    box-shadow: 0 0 5px 5px hsla(225, 88%, 16%, 0.651),
    0 0 5px 5px hsl(201, 19%, 29%);;
    /* border: 4px solid rgb(241, 226, 11); */
}
#post-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: black;
    border: 5px solid black;
    /* box-shadow: 8px 8px 8px 4px black; */
    box-shadow: 0 0 15px 10px hsl(0, 11%, 2%),
    0 0 15px 15px hsl(201, 19%, 29%);
}
#image{
    max-width: 600px;
    max-height: 600px;
}
#caption-holder{
    display: grid;
    align-items: center;
    grid-template-columns: auto ;
    justify-content: center;
    width: 500px;
    height: 80%;
    background: rgba(128, 128, 128, 0.486);
    box-shadow: 0 0 15px 10px hsl(0, 11%, 2%),
    0 0 15px 15px hsl(201, 19%, 29%);
}
#car-information{
    display: flex;
    width: auto;
    height: 90px;
    align-items: center;
    justify-content: space-around;
    border: 3px solid red;
    font-size: 25px;
}
#car-caption{
    border: 4px solid green;
}
/* #new-comment-holder{ */
    /* display: flex;
    justify-content: space-between;
   align-items: baseline; */
    /* width: 100%;
    height: 100px; */
    /* margin-top: -1.2%; */
    /* background: hotpink;
} */
/* ////////////////// COMMENTS SECTION //////////////////////// */
#comment-input{
    width: 95%;
    height: 50px;
}
#new-comment-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#new-comment-form > button{
    outline: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    font-size: 50px;
    background: rgb(110, 34, 27);
}
#new-comment-form > button:hover{
    background: black;
    color: chartreuse;
    cursor: pointer;
}
.logged-in-user-comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    background-color: rgb(27, 62, 95);
    color: darkmagenta;
    /* border: 1px solid rgb(160, 148, 148); */
    color: white;
}
.commenter-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
    /* border:2px solid darkmagenta; */
}
.comment-delete-form{
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 2px solid green; */
   width: 3%;
   align-items: center;
}
/* ////////////////////////////// NEW POST PAGE ////////////////////////// */
#file-loader{
    margin: 2%;
   color: rgb(1, 156, 156);
}
.input-group, .mb-3 {
    width: 20%;
    margin: 0 3%;
}
.model{
    margin: 2% 7%;
}
#year-dropdown{
    margin:3%;
}
/* ////////////////////////////// PROFILE PAGE /////////////////////////////////// */
#profile-bio-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100px;
    border: 5px solid rgb(121, 133, 121);
    /* border-radius: 40%; */
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#profile-picture{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-size:60px ;
}
#user-username{
    color: white;
}

/* ////////////////////////////// USER PROFILE PAGE ///////////////////////////// */
