<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
body{
    background: black;
}</style>
<body>
    <div style="border: 5px solid green; width: 40%;height: 100px; display: flex; align-items: center; justify-content: space-around; margin: 20% 30%;">
   <form action="/posts/edit/<%= idx%>" method="POST">
    <input style="width: 100%; height: 50px; font-size: 20px;" type="text" name="caption" value="<%= value%>">
    <input style="width: 100%; height: 30px; font-size: 30px;color: rgb(165, 207, 123);" type="submit" value="Update the Caption ✓">
    </form>
</div>
    
</body>
</html>