<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
body{
    background: black;
}
#updating-caption:hover{
cursor: pointer;

}
</style>
<body>
    <div style=" width: 40%;height: 100px; display: flex; align-items: center; justify-content: space-around; margin: 20% 30%;">
   <form action="/posts/edit/<%= idx%>" method="POST">
    <input style="width: 100%; height: 50px; font-size: 20px;" type="text" name="caption" value="<%= value%>">
    <div>
    <input id="updating-caption" style="width: 50%; height: 30px; font-size: 25px;color: rgb(107, 184, 31);" type="submit" value=" ✓">
    <a style="width: 200px; border: 2px solid red; height: 30px; font-size: 20px; color: red;" href="/users/profile/<%= id %>">  ✘</a>
    </div>
    </form>
</div>
    
</body>
</html>